/* here you can put your own css to customize and override the theme */
.search-box{
	padding: 20px 0px 20px 0px;
}

@media (min-width: 1200px){
	.container {
	    width: 970px;
	}
}

.font-greens {
	color: #42b550!important
}

.btn-cari {
height: 36px!important;
    z-index: 2!important;
    padding: 0 15px!important;
    border-width: 1px!important;
    border-style: solid!important;
    border-color: #ff5723!important;
    border-image: initial!important;
    border-radius: 0 3px 3px 0!important;
    background-color: #ff5723!important;
    color: #fff!important;
    width: 74px;
}

.btn-cari:hover {
    color: #fff!important;
    background-color: #ef431c!important;
    background-image: none!important;
}

.form-control {
	    height: 36px!important;
	    border-right: 0;
}

a {
    text-shadow: none;
    color: #42b549;
}

h1 {
    font-size: 25px !important;
}

h2 {
    font-size: 23px !important;
}

h3 {
    font-size: 20px !important;
}

h4 {
    font-size: 17px !important;
}

h5 {
    font-size: 14px !important;
}

h6 {
    font-size: 12px !important;
}

.page-header {
    height: inherit;
}

/*Begin Head*/

/*End Head*/